<template>
  <div id="app">
    <Header/>
    <AddTodo v-on:add-todo="addTodo"/>
    <Todos v-bind:todos="todos" v-on:del-item="deleteItem"/>
  </div>
</template>

<script>
import axios from 'axios' ; 
import Header from './components/layout/Header.vue' ; 
import Todos from './components/Todos.vue';
import AddTodo from './components/AddTodo.vue';


export default {
  name: 'app',
  components: {
    Todos,
    Header,
    AddTodo
    
  },
  data () {
    return {
      todos : [] 
    }

  } , 

  methods : {
    
    deleteItem (id) {
      axios.delete(`https://jsonplaceholder.typicode.com/todos/${id}`)
      .then(res => this.todos = this.todos.filter(todo => todo.id !== id ) )
      .catch (err => window.console.log(err))
      
    },

    addTodo(todoItem) {
      const {
        title ,
        completed 
      } = todoItem ; 
      axios.post('https://jsonplaceholder.typicode.com/todos',{
        title ,
        completed }
      )
      .then (res => this.todos = [...this.todos,res.data] )
      .catch(err => window.console.log(err)) ; 
    }
  } , 

  created () {
    
    axios.get('https://jsonplaceholder.typicode.com/todos?_limit=5')
    .then(res => this.todos = res.data)
    .catch(err => window.console.log(err));
  }
}

</script>

<style>
  * {
      box-sizing: border-box ; 
      margin: 0 ; 
      padding: 0 ; 

    }

    body {
      font-family: Arial, Helvetica, sans-serif;
      line-height: 1.4;
    }

      .btn {
    display: inline-block;
    border: none;
    background: #555;
    color: #fff;
    padding: 7px 20px;
    cursor: pointer;
  }
  .btn:hover {
    background: #666;
  }
</style>
